
.navbar {
  height: 70px;
  width: 1500px;

  padding-top: 20px;
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  text-align: center;

  justify-content: space-evenly;
}

.logo {
  background-image: url("./LOGO.png");
  background-size: cover;
  width: 84px;
  height: 77px;
  position: relative;
  bottom: 11px;
}

.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 858px;
}

.dropdown a {
  text-decoration: none;
  color: black;

  padding-right: 50px;
}

.list {
  padding-right: 50px;
}

.dropdown ul {
  list-style-position: outside;

  list-style-type: none;
}

.dropdown li {
  float: left;
  margin-right: 50px;
  font-size: 19px;
  font-weight: 300;
  font-family:Arial, Helvetica, sans-serif;
  
}

.search {
  position: relative;
  right: 354px;
  top: 8px;
}
/*! important part */
.dark_mode {
  background-color: black;
  color: antiquewhite;
}
.dark_mode a{
    
    color: antiquewhite;
  }
  

.login {
  position: relative;
  right: 66px;
  top: 11px;
}

.login button {
  padding: 12px 1.2rem 12px 1.2rem;
  position: relative;
  align-items: center;
  border: none;
  cursor: pointer;
  display: inline-flex;
  min-width: 8rem;
  background-color: #9249bb;
  color: white;
  font-weight: 900;
  font-size: 15px;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
}
.button_toggle {
    background-color: aliceblue;
    position: relative;
  right: 89px;
  top: 4px;
  height: 50px;
}
#noramal_mode {
  background-image: url(.//2moon_nobg.png);
  image-resolution: initial;
  background-size: cover;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 0px;
  
}
