.navbar {
  height: 70px;
  width: 1500px;

  padding-top: 20px;
  display: flex;
  flex-direction: row;
  padding-left: 25px;
  text-align: center;

  justify-content: space-evenly;
}

.logo {
  background-image: url("./LOGO.png");
  background-size: cover;
  width: 84px;
  height: 77px;
  position: relative;
  bottom: 11px;
}

.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 858px;
}

.dropdown a {
  text-decoration: none;
  color: black;

  padding-right: 50px;
}

.list {
  padding-right: 50px;
}

.dropdown ul {
  list-style-position: outside;

  list-style-type: none;
}
.dropdown li:hover {
  color: #9249bb;
  float: left;
  margin-right: 50px;
  font-size: 19px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown li {
    animation: navani 0.3s ease forwards;
  animation-delay: calc(0.15s * var(--navAni));
  float: left;
  margin-right: 50px;
  font-size: 19px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}

.search {
  position: relative;
  right: 354px;
  top: 8px;
}
/*! important part */
.dark_mode {
  background-color: black;
  color: antiquewhite;
}
.dark_mode a {
  color: antiquewhite;
}

.login {
  position: relative;
  right: 66px;
  top: 11px;
}

.login button {
  padding: 12px 1.2rem 12px 1.2rem;
  position: relative;
  align-items: center;
  border: none;
  cursor: pointer;
  display: inline-flex;
  min-width: 8rem;
  background-color: #9249bb;
  color: white;
  font-weight: 900;
  font-size: 15px;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
}
.button_toggle {
  color: aliceblue;

  position: relative;
  right: 89px;
  top: 4px;
  height: 50px;
}
#noramal_mode {
  background-image: url(./moon2..png);
  image-resolution: initial;
  background-size: cover;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 0px;
}
!html,
body {
  width: 100%;
  overflow-x: hidden;
}

.firstpage {
  display: flex;
  flex-direction: row;
  height: 900px;
  margin-left: 42px;
  margin-right: 42px;
}

.sdc_img {
  background-image: url(./MAIN.png);
  background-size: cover;
  height: 545px;
  width: 760px;
  margin-top: 48px;
  animation: leftSideAni 1s ease forwards;
  animation-delay: 1s;
}
.firstpage_left {
  width: 763px;
  height: auto;
}
.firstpage_right {
  width: 677px;
  height: auto;
}
.left_main {
  display: flex;
  flex-direction: column;
  margin-top: 176px;
  margin-left: 67px;
  font-size: 31px;
  font-weight: 900;
  animation: navani 0.3s ease forwards;
}
.left_main h1 {
    animation: navani 0.3s ease forwards;
  font-weight: bolder;
}
.buttons input{
  padding: 12px 1.2rem 12px 1.2rem;
  position: relative;
  align-items: center;
  border: none;
  cursor: pointer;
  display: inline-flex;
  min-width: 8rem;
  background-color: #9249bb;
  color: white;
  font-weight: 900;
  font-size: 15px;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
}
